fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-groq
langgraph
langsmith

tavily-python

beautifulsoup4
requests
lxml
html5lib

python-dotenv
aiohttp
pandas
rich
tenacity
orjson
pydantic

streamlit